/*General*/
*{
    font-family: century gothic;
    margin: 0px;
    padding: 0px;
}
/*Cabecera*/
header{
    float: left;
    width: 100%;
    height: 80px;
    background-color: rgb(59, 173, 109);
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    margin-bottom: 5px;
}
#logo{
    float: left;
    width: 120px;
    height: 80px;
}

#titulocabecera{
    float: left;
    color:rgb(255, 255, 255);
    text-align: left;
    font-size: 20px;
    padding-top: 25px;
}
.logouth{
    float: right;
    width: 150px;
    height: 50px;
    padding-top: 5px;
    padding-right: 50px;
}
/*Imagen de fondo*/
body{
    background-color: rgb(60, 206, 123);
    /*background-color: whitesmoke;*/
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}
/*Contenido*/
.contenedor{
    clear: both;   
    margin-left: auto;
    margin-right: auto;
    width: 80%;  
    border-radius: 10px;
    background-color:white;
    box-shadow: 0px 3px 5px rgb(0, 0, 0);
    padding-bottom: 20%;
    opacity: 90%;
}
/*Formulario Busqueda*/
#formularioBusqueda{
    width: 100%;
    margin: 5px;
    margin-left: auto;
    margin-right:auto;
}
label,input{
    margin: 5px 0;
    margin-left: 5px;
}
#btnBuscar{
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(255, 150, 52);
    font-size: 18px;
    border: 0px;
}
#btnBuscar:hover{
    background-color: rgb(255, 123, 0);
}
#buscar{
    width: 400px;
    height: 30px;
    font-size: 17px;
    border: 1px solid black;
    background-color:white;
}
#tituloTabla1{
    font-size: 25px;
    text-align: center;
    background-color: rgb(59, 173, 109);
    padding: 10px;
    color: white;
}
/*Formulario Tabla*/
#formularioTabla{
    width: 100%;
    margin: 5px;
    margin-left: auto;
    margin-right:auto;
}

#tituloTabla2{
    font-size: 25px;
    text-align: center;
    background-color:  rgb(59, 173, 109);
    padding: 10px;
    color: white;
}
table{
    margin: 5px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
th{
    font-size: 18px;
    border-bottom: 2px solid black;
    text-align: center;
    background-color: rgb(59, 173, 109);
    color: white;
    padding: 10px;
}
td{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: justify;
}
#registros{
    font-size: 22px;
    text-align: center;
}

tr:nth-child(odd){
background-color: rgb(228, 225, 225);
}

/*Nota*/
#nota{
    text-align: center;
}
/*Pie*/
footer{
    clear: both;
    float: left;
    width: 100%;
    height: 80px;
    background-color: rgb(59, 173, 109);
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    margin-top: 5px;
    align-self: flex-end;
}
#titulopie{
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
}
/*Resonsivo beta*/
@media (min-width:320px) and (max-width: 767px) {
    .logouth{
        width: 80px;
        height: 40px;
        padding-top: 10px;
        padding-right: 10px;
    }
    #logo{
        width: 70px;
        height: 50px;
        padding-top: 10px;
    }
    #titulocabecera{
        padding-top: 20px;
        width: 50%;
        font-size: 12px;    
        text-align: justify;
    }
    #titulopie{
        font-size: 12px;
        padding-top: 30px;
    }
    #tituloTabla1,#tituloTabla2{
        font-size: 12px;
    }
    #formularioBusqueda {
        width: 100%;
        font-size: 12px;
    }
    #buscar{
        font-size: 12px;
        width: 40%;
        height: 25px;
    }
    #btnBuscar{
        font-size: 10px;
        width: 80px;
        height: 25px;
    }
    #formularioTabla{
        width: 100%;
        font-size: 9px;
    } 
    .contenedor{
        width: 90%;
        padding-bottom: 30%;
        font-size: 9px;
    }
    th,tr{
        font-size: 9px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .logouth{
        width: 110px;
        height: 50px;
        padding-right: 30px;
    }
    #logo{
        width: 100px;
        height: 60px;
        padding-top: 10px;
    }
    #titulocabecera{
        width: 400px;
        font-size: 12px;
    }
    #titulopie{
        font-size: 12px;
        padding-top: 30px;
    }
    #tituloTabla1,#tituloTabla2{
        font-size: 16px;
    }
    #formularioBusqueda {
        width: 100%;
        font-size: 12px;
    }
    #buscar{
        font-size: 12px;
        width: 290px;
        height: 25px;
    }
    #btnBuscar{
        font-size:12px;
        width: 80px;
        height: 25px;
    }
    #formularioTabla{
        width: 100%;
        font-size: 12px;
    } 
    .contenedor{
        width: 90%;
        padding-bottom: 30%;
        font-size: 12px;
    }
    th,tr{
        font-size: 10px;
    }
}
@media (min-width: 1024px) and (max-width: 1366px){
    #logo{
        width: 100px;
        height: 60px;
        padding-top: 10px;
    }
    #titulocabecera{
        font-size: 14px;
        width: 700px;
    }
    #titulopie{
        font-size: 14px;
        padding-top: 30px;
    }
    #tituloTabla1,#tituloTabla2{
        font-size: 16px;
    }
    #formularioBusqueda {
        width: 100%;
        font-size: 12px;
    }
    #buscar{
        font-size: 12px;
        width: 290px;
        height: 25px;
    }
    #btnBuscar{
        font-size:12px;
        width: 80px;
        height: 25px;
    }
    #formularioTabla{
        width: 100%;
        font-size: 12px;
    } 
    .contenedor{
        width: 90%;
        padding-bottom: 30%;
        font-size: 12px;
    }
    th,tr{
        font-size: 11px;
    }
}

