/*General*/
*{
    font-family: century gothic;
    
}
/*Cabecera*/
header{
    float: left;
    width: 100%;
    height: 80px;
    background-color: seagreen;
    border-radius: 5px;
    margin: 5px 0;
    opacity: 95%;
    box-shadow: 3px 2px 5px rgb(0, 0, 0);
}
#logo{
    float: left;
    width: 120px;
    height: 80px;
}
#titulocabecera{
    float: left;
    color: white;
    text-align: left;
    font-size: 20px;
    padding-top: 25px;
}
/*Imagen de fondo*/
body{
    background-color: whitesmoke;
    background-image: url("../images/fondo.jpg");
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}
/*Contenido*/
.contenedor{
    clear: both;   
    margin-left: auto;
    margin-right: auto;
    width: 1366px;  
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color:white;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    opacity: 90%;
}
/*Formulario Busqueda*/
#formularioBusqueda{
    width: 1354px;
    margin: 5px;
    margin-left: auto;
    margin-right:auto;
   /* border: 1px solid rgb(20, 220, 20);*/
}
label,input{
    margin: 5px 0;
    margin-left: 5px;
}
#btnBuscar{
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(252, 63, 63);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-size: 17px;
    border-radius: 5px;
}
#buscar{
    width: 400px;
    height: 30px;
    font-size: 17px;
    border-radius: 5px;
    background-color:white;
}
#tituloTabla1{
    font-size: 25px;
    text-align: center;
    background-color: rgb(252, 63, 63);
    box-shadow: 3px 2px 5px rgb(0, 0, 0);
    padding: 10px;
    color: white;
}
/*Formulario Tabla*/
#formularioTabla{
    width: 1354px;
    margin: 5px;
    margin-left: auto;
    margin-right:auto;
    /*border: 1px solid crimson;  */
}

#tituloTabla2{
    font-size: 25px;
    text-align: center;
    background-color: rgb(47, 158, 209);
    box-shadow: 3px 2px 5px rgb(0, 0, 0);
    padding: 10px;
    color: white;
}
table{
    margin: 5px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}
th{
    font-size: 18px;
    border-bottom: 2px solid black;
    text-align: center;
    background-color: rgb(47, 158, 209);
    color: white;
    padding: 10px;
}
td{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: justify;
}
#registros{
    font-size: 22px;
    text-align: center;
}
/*Nota*/
#nota{
    text-align: center;
}
/*Pie*/
footer{
    clear: both;
    float: left;
    width: 100%;
    height: 80px;
    opacity: 95%;
    background-color: seagreen;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 3px 2px 5px rgb(0, 0, 0);
    align-self: flex-end;
}
#titulopie{
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
}
/*Resonsivo beta*/
@media (min-width:320px) and (max-width: 768px) {
    #logo{
        width: 80px;
        height: 60px;
        padding-top: 10px;
    }
    #titulocabecera,#titulopie{
        font-size: 9px;
        padding-top: 30px;
    }
    #tituloTabla1,#tituloTabla2{
        font-size: 12px;
    }
    #formularioBusqueda {
        width: 300px;
        font-size: 12px;
    }
    #buscar{
        font-size: 12px;
        width: 290px;
        height: 25px;
    }
    #btnBuscar{
        font-size: 8px;
        width: 80px;
        height: 25px;
    }
    #formularioTabla, Table,th,td,.contenedor{
        width: 300px;
        font-size: 9px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    #logo{
        width: 100px;
        height: 60px;
        padding-top: 10px;
    }
    #titulocabecera,#titulopie{
        font-size: 16px;
        padding-top: 30px;
    }
    #tituloTabla1,#tituloTabla2{
        font-size: 16px;
    }
    #formularioBusqueda {
        width: 750px;
        font-size: 12px;
    }
    #buscar{
        font-size: 12px;
        width: 290px;
        height: 25px;
    }
    #btnBuscar{
        font-size:12px;
        width: 80px;
        height: 25px;
    }
    #formularioTabla, Table,th,td,.contenedor{
        width: 750px;
        font-size: 12px;
    }
}

